.nav-link .active .text-my-own-color {
    background-color: #e96e50 !important; 
  }


.material-input-datepicker{
  width: 94%;
  height: calc(1.5em + 0.75rem + 2px);
  border-radius: 0.25rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}