<main class="container justify-content-center text-center mb-2">
    <div class="row m-2">
        <div *ngIf="isLoggedIn()" class="col-lg-12">   
            <div class="input-group mt-5 mb-2 w-80">
                <input type="search" id="search" #searchKeyword class="form-control rounded mr-1" placeholder="Search for the City" aria-label="Search"
                  aria-describedby="search-addon" />
                <button type="button" (click)="search(searchKeyword.value)" class="btn btn-outline-primary">search</button>
              </div>              
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center text-center">
            <div *ngIf="!isLoggedIn()" class="card p-3" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Please Login</h5>
                <p class="card-text">So you will be able to search the weather data for cities</p>
                <a [routerLink]="['/login']" class="btn btn-primary">Go to Login</a>
                </div>
            </div>

            <div class="card text-center" *ngIf="isLoggedIn() && searchResponse!=null && searchResponse!=undefined">
                <div class="card-header">
                    <h2>{{searchResponse.cityName}}</h2> <span *ngFor="let w of searchResponse.weather">{{w.description}}</span>
                </div>
                <div class="card-body">
                  <p class="card-text"><span class="we-heading">Current temperature :</span> {{searchResponse.currentTemperature}} &#8451;</p>
                  <p class="card-text"><span class="we-heading"> Temperature from </span> {{searchResponse.minTemperature}} to {{searchResponse.maxTemperature}} &#8451;</p>
                  <p class="card-text"><span class="we-heading">Sunrise :</span> {{getTime(searchResponse.sunrise)}} <span class="we-heading">  Sunset : </span>{{getTime(searchResponse.sunset)}}</p>
                </div>
                <div class="card-footer text-muted">
                    {{getDateTime(searchResponse.dt)}}
                </div>
              </div>
        </div>
    </div>

    <div class="row m-3" *ngIf="shouldShowTable()">
        <div *ngIf="isLoggedIn()" class="col-lg-12 text-right">
            <button class="btn btn-danger m-1" (click)="deleteSelectedSeachHistoryRow()">Delete</button>
            <button class="btn btn-primary" (click)="editSelectedSeachHistoryRow()">Edit  </button>
        </div>
    </div>
    <div class="row m-3">
        <div *ngIf="isLoggedIn() && shouldShowTable()" class="col-lg-12">  
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            
                      <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="searchId">
                        <th class="th-center" mat-header-cell *matHeaderCellDef mat-sort-header> Search Id </th>
                        <td mat-cell *matCellDef="let element">
                            <!-- <input type="checkbox" class="custom-control-input" [id]="element.searchId" (change)="onChangeCheckbox($event, element)"> -->
                             {{element.searchId}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="cityName">
                    <th class="th-center" mat-header-cell *matHeaderCellDef mat-sort-header> City Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="weatherDescription">
                        <th class="th-center" mat-header-cell *matHeaderCellDef mat-sort-header> Weather Description </th>
                        <td mat-cell *matCellDef="let element"> {{getWeatherDiscription(element)}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="currentTemperature">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Temperature &#8451; </th>
                    <td mat-cell *matCellDef="let element"> {{element.currentTemperature}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="minTemperature">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Min Temperature &#8451; </th>
                    <td mat-cell *matCellDef="let element"> {{element.minTemperature}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="maxTemperature">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Max Temperature &#8451;</th>
                    <td mat-cell *matCellDef="let element"> {{element.maxTemperature}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td mat-cell *matCellDef="let element"> {{getDate(element.dt)}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="sunrise">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sunrise </th>
                        <td mat-cell *matCellDef="let element"> {{getTime(element.sunrise)}} </td>
                    </ng-container>
                    <ng-container matColumnDef="sunset">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sunset </th>
                        <td mat-cell *matCellDef="let element"> {{getTime(element.sunset)}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row [class]=" row.selected == true ? 'grey-color':''" (click)="selectRow(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator
                                [length]="length"
                                [pageIndex]="pageIndex"
                                [pageSize]="pageSize"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                (page)="pageEvent = fetchData($event)"></mat-paginator> 
            </div>
        </div>
    </div>
    <div class="row m-3">
        <div class="col-lg-12 text-right">
            
        </div>
    </div>
</main>

<div  class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'" >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        
      
        <!-- Modal Header -->
        <div class="modal-header d-flex text-center">
          <h3 class="modal-title">City Name</h3>
          <span class="search-history-heading"><h3>{{selectedUserSearchHistory.cityName}}</h3></span>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form id="userSearchHistoryForm" [formGroup]="userSearchHistoryForm">
            <div class="container-fluid">
                <div class="row m-1">
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-6">
                            <label class="h-label">Search Id</label>
                        </div>
                        <div class="col-lg-6">
                            <input class="h-input" formControlName="searchId" ReadOnly type="text" value="{{selectedUserSearchHistory.searchId}}" style="border: 0;">
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-6">
                            <label class="h-label">City Name</label>
                        </div>
                        <div class="col-lg-6">
                            <input class="h-input" formControlName="cityName" type="text" value="{{selectedUserSearchHistory.cityName}}">
                        </div>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-6">
                            <label class="h-label">Weather Description</label>
                        </div>
                        <div class="col-lg-6">
                            <input class="h-input" formControlName="weatherDes" type="text" value="{{getWeatherDiscription(selectedUserSearchHistory)}}">
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-6">
                            <label class="h-label">Current Temperature</label>
                        </div>
                        <div class="col-lg-6">
                            <input class="h-input" formControlName="currentTemperature" type="text" pattern="[\d]*.?[\d]*" value="{{selectedUserSearchHistory.currentTemperature}}">
                        </div>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-6">
                            <label class="h-label">Minimum Temperature</label>
                        </div>
                        <div class="col-lg-6">
                            <input class="h-input" formControlName="minTemperature" type="text" pattern="[\d]*.?[\d]*" value="{{selectedUserSearchHistory.minTemperature}}">
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-6">
                            <label class="h-label">Maximum Temperature</label>
                        </div>
                        <div class="col-lg-6">
                            <input class="h-input" formControlName="maxTemperature" pattern="[\d]*.?[\d]*" type="text" value="{{selectedUserSearchHistory.maxTemperature}}">
                        </div>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-6">
                            <label class="h-label">Sunrise</label>
                        </div>
                        <div class="col-lg-6">
                            <input class="h-input" formControlName="sunrise" type="text" pattern="((1[0-2]|0?[1-9]):([0-5][0-9]):([0-5][0-9]) ?([AaPp][Mm]))" value="{{getTime(selectedUserSearchHistory.sunrise)}}">
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex">
                        <div class="col-lg-6">
                            <label class="h-label">Sunset</label>
                        </div>
                        <div class="col-lg-6">
                            <input class="h-input" formControlName="sunset" type="text" pattern="((1[0-2]|0?[1-9]):([0-5][0-9]):([0-5][0-9]) ?([AaPp][Mm]))" value="{{getTime(selectedUserSearchHistory.sunset)}}">
                        </div>
                    </div>
                </div>
            </div>
          </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
          <button type="button" class="btn btn-success" (click) = "saveUserSearchHistory()">Save</button>
        </div>
        
      </div>
    </div>
  </div>


