.we-heading{
    font-size: 1rem;
    font-weight: 500;
}

.mat-elevation-z8{
  overflow: auto;
}


table {
    width: 100%;
    margin-bottom: 0px;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  tr.mat-header-row {
    height: 40px;
}

td.mat-cell::ng-deep{
  text-align: left !important;
}

tr.mat-row, tr.mat-footer-row {
    height: 40px;
}

.mat-row:hover {
  background-color: #b78eec;
}

.mat-checkbox{
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.grey-color{
  background-color: #b387ec;
}


.modal {
  width: 70%;
  top: 4rem;
  left: 15%;
  height: auto;
  max-height: 25.5rem;
}

.modal-dialog{
  height:calc(100% - 60px);
}

.modal-header{
  background-color: #ddd3ef;
}
.modal-content{
  height:100%;
}
.modal .modal-content{
  overflow:hidden;
}
.modal-body{
  height:calc(100% - 125px);
  overflow-y: scroll;
}

.search-history-heading{
  margin-left: 0.5rem;
  font-weight: 500;
}
.search-history-heading h3 {
  font-weight: 500;
}
.element{
  display: inline-flex;
}

.element .h-label{
  margin: 0.25rem;
}
.element .h-input{
  margin: 0.25rem;
}

.h-label{
  margin: 0.25rem;
}
.h-input{
  margin: 0.25rem;
  border-radius: 4px;
  border-color: #e6e2e2;
}
